* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Chakra Petch', sans-serif;
    overflow: hidden;
    
}
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #53a717;
    font-style: oblique;
    font-size: 35px;
    margin-top: 35px;
}

.containerBody {
    background-color: #E5BA73;
    height: 100vh;
    width: 100%;
}


 .firstContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 13px;
    color: #224B0C;
    margin-top: 22px;
}

.secondContainer {
    display: flex;
    justify-content: center;
    align-items: center;   
    
} 

.square {
    width: 100px;
    height: 100px;
    border-style:double;
    border-color: #414302;
    background-color: #C58940;
    cursor: pointer;   
}

.grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 420px;
    height: 420px;
}

.mole {
    background-image: url(./images/topo.png);
    background-size: cover;
}

.footer {
    background-color: #343d03bd;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    position: absolute;
    bottom: 0;
    left: 0; 
    color: antiquewhite;
    font-size: 14px;
    position: fixed;
    width: 100%;
   
}

.copy {
    font-size: 13px;
    color:beige;
}
@media all and (min-width: 768px) {
    .square {
        width: 180px;
        height: 180px; 
    }
    .grid {
        width: 600px;
        height: 600px;
    }
    .title {
        font-size: 45px;
    }
    .firstContainer {
        font-size: 15px;
    }
    .footer {
        font-size: 16px;
    }
    .copy {
        font-size: 14px;;
    }
}