* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Chakra Petch', sans-serif;
   
      
}


.containerBody {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #E5BA73;
    height: auto;
    
}
.header {
    position:sticky;
    margin-top: 30px;
   
}
.title {
    
    color: #53a717;
    font-size: 35px;
    
}


 .firstContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-size: 13px;
    color: #224B0C;
    height: 15vh;
    width: 100vw;
    margin-bottom: 20px;
}

.secondContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;   
    width: 100vw;
    height: 50vh;
} 

.square {
    width: 90px;
    height: 90px;
    border-style:double;
    border-color: #414302;
    background-color: #C58940;
    cursor: pointer;   
   
}

.grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 300px;
    height: 300px;
    
}

.mole {
    background-image: url(./images/topo.png);
    background-size: cover;
}

.footer {
    background-color: #343d03bd;
    height: 9vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    position: absolute;
    bottom: 0;
    left: 0; 
    color: antiquewhite;
    font-size: 14px;
    position: absolute;
    width: 100%;
    
   
}

.copy {
    font-size: 13px;
    color:beige;
}
@media all and (min-width: 768px) {
    .square {
        width: 140px;
        height: 140px; 
        
    }
    .grid {
        width: 500px;
        height: 500px;
    }
    .title {
        font-size: 38px;
    }
    .firstContainer {
        font-size: 14px;  
    }
    .footer {
        font-size: 16px;
        height: 7vh;
    }
    .copy {
        font-size: 14px;;
    }
}